header{
    background-image: url('images/header.jpg');
    padding-top:90px;
    padding-bottom:90px;
    padding-left:100px;
    background-repeat:no-repeat;
    background-size:cover;
    color: #ffffff;
    margin: 0;
}


nav{
    background-color: rgb(52,58,64);
    color: white;
    padding: 15px;
    height: 20px;
}
nav a{
    float: left;
    color: lightgray;
    text-decoration: none;
    padding-left: 15px;
}

.subtitulo{
    font-size: 15px;
}

.imagen{
    padding-left: 10px;
    float:right;
    width: 250px;
    height: 250px;
}

.columna{
    width: 50%;
    margin-top: 20px;
    padding: 20px;
    padding-left: 30px;
    border: 1px solid lightgrey;
    box-shadow: 3px 3px 3px 3px lightgrey;
}




